extends poll_dialog
block content
  script(type="text/javascript" src="/javascripts/poll_results.js")
  script.
    var jwt="#{jwt}"
    var pollId=parseInt("#{question.id}");

    getData(pollId, jwt);

    if (typeof AP !== 'undefined') {
      HipChat.dialog.updatePrimaryAction({
        enabled: false
      });
    }
  h4= question.question
  div#options_container
    div#options_spinner.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active
    table#options_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      tbody